body {
  font-family: Roboto;
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5f9ea0, #5f9ea0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background: #000;
  color: white;
  margin: 0;
  padding: 30px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  padding-left: 20px;
}

input {
  width=90px;
  border-radius: 4px;
  border: 1px solid #eee;
  padding-left: 20px;
  
}


#billamt {
  font-size: 14px;
  /*color: #2980b9;*/
  color: #red;
  
  width: 60%;
  padding: 5px 5px 8px 8px;
}

input:focus {
  background: #fff;
  border: 2px solid #2980b9;
  outline: none;
}
select{
  border: 1px solid #eee;
}
select:focus{
  border: 1px solid #2980b9;
}

#peopleamt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: #red;
  
  font-size: 14px;
}

.dollarSign {
  display: inline;
}

#serviceQual {
  
  margin-left: 20px;
  font-size: 15px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #002d62;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
  border: 0;
  outline: 0
}

button:hover {
  background: #5f9ea0;
}

button:active {
  position: relative;
  top: 1px; 
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}